@use "components";
@use "fonts";

.banner {
    // display: indica como se tratara el elemento
    display: flex;
    // align-items: alinea y agrupa a todos los objetos e hijos de estos en un mismo sentido
    align-items: center;
    // background-image: le añade una imagen al fondo de un elemento
    background-image: url(../Assets/IMG/Banner/img-lenguaje-programacion.jpg);
    // height: altura de una elemento
    height: 350px;
    // background-repeat: le indica si la imagen se repite o no
    background-repeat: no-repeat;
    // background-position: permite posicionar el background en un punto del contenedor
    background-position: center center;
    // background-size: con esto indicamos como la imagen debe tomar su tamaño segun el contenedor
    background-size: cover;
    // border: con esto le das forma al borde o contorno del contenedor
    border: 0.5px solid black;
    .container-banner {
        display: flex;
        align-items: center;
    // flex-direction: indica en que direccion de eje siguen los elementos de un contenedor
        flex-direction: column;
    // color: indica el color que tomaran los elementos dentro del contenedor
        color: white;
        #banner-text {
            border: 0.5px solid black;
    // padding: indica el tamaño del espacio que habra entre el borde y el elemento
            padding: 5px;
    // background-color: indica el color del fondo
            background-color: rgba(197, 197, 197, 0.30);
    // backdrop-filter: le da un estilo de desonfoque a lo que esta atras
            backdrop-filter: blur(10px);
    // text-align: el alineado que sigue el texto
            text-align: center;
            #banner-sub-text {
                text-align: center;
    // font-size: el tamaño de la fuente
                font-size: large;
                display: flex;
                align-items: center;
                flex-direction: column;
                border-top: 0.5px solid black;
    // padding-top: indica el tamaño del espacio entre el elemento y el bordo del contenedor pero solo de la parte superior
                padding-top: 10px;
            }
        }
    }
}

.about {
    display: flex;
    align-items: center;
    max-width: 992px;
    height: 680px;
    width: 100%;
    margin: auto;
    margin-top: 3rem;
    border-bottom: solid 1px #ddd;
    .about-container {
        display: flex;
        align-items: center;
        justify-content: center;
        .text-about {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            .img-about {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .container-text-header-body {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 1rem;
                .header-about {
                    width: 20rem;
                    .body-about {
                        font-size: medium;
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}

.skills {
    display: flex;
    align-items: center;
    max-width: 992px;
    width: 100%;
    margin: auto;
    flex-direction: column;
    border-bottom: solid 1px #ddd;
    .text-skills {
        display: flex;
        align-items: center;
        margin: auto;
        .text-header-skills {
            margin-top: 3rem;
            border: 0.5px solid rgb(33,37,41);
            padding: 0.5rem;
            text-align: center;
            background-color: rgb(33,37,41);
            color: white;
            border-radius: 5px;
            margin-bottom: 5rem;
            //backdrop-filter: blur(10px);
        }
    }
    .skills-container {
        display: grid;
        // con este codigo creo una columna responsive para cualquier pagina
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        grid-gap: 1rem;
        grid-auto-rows: 22rem;
        .img-skills-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.projects {
    display: flex;
    align-items: center;
    max-width: 992px;
    width: 100%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid 1px #ddd;
    .header-text-projects {
        margin-top: 3rem;
        border: 0.5px solid rgb(33,37,41);
        padding: 0.5rem;
        text-align: center;
        background-color: rgb(33,37,41);
        color: white;
        border-radius: 5px;
        margin-bottom: 5rem;
    }
    .container-cards {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        grid-gap: 3rem;
        grid-auto-rows: 22rem;
        margin: auto;
        align-self: center;
        padding: 1rem;
        .container-content-cards {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.contact {
    display: flex;
    align-items: center;
    max-width: 992px;
    width: 100%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    .contact-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        justify-content: center;
        padding: 1rem;
        margin-bottom: 2rem;
        text-align: center;
        border-bottom: solid 1px #08080859;
        .email-text{
            font-size: 1rem;
        }
        .whatzapp-icon {
            margin-right: 0.25rem;  
        }
        .email-icon {
            margin-right: 0.25rem;
        }
    }
    .header-text-contact {
        margin-top: 3rem;
        margin-bottom: 1rem;
        border: 0.5px solid rgb(33,37,41);
        padding: 0.5rem;
        text-align: center;
        background-color: rgb(33,37,41);
        color: white;
        border-radius: 5px;
    }
    .container-form {
        width: 420px;
        .btn-div {
            .btn {
                float: right;
            }
        }
    }
}

.navbar-bottom {
    display: flex;
    flex-direction: row;
    .whatzapp-icon {
        margin-right: 0.25rem;  
    }
    .email-icon {
        margin-right: 0.25rem;
    }
}